---
import Navbar from '../components/sidebar.astro';
import dotenv from 'dotenv'
import Layout from '../layouts/Layout.astro'

dotenv.config();

const DatabaseID = process.env.DATABASE_ID;
const NotionToken = process.env.NOTION_TOKEN;

const allProjects = [];

// fetch the project list from Notion API
const res = await fetch(`https://api.notion.com/v1/databases/${DatabaseID}/query`, {
  method: 'POST',
  headers: {
    'Authorization': `Bearer ${NotionToken}`,
    'Content-Type': 'application/json',
    'Notion-version': '2021-08-16'
    }
  }
)

// extract data from the response
const data = (await res.json()).results;

data.sort((a: any, b: any) => {
  const propA = a.properties.Name.title[0].plain_text;
  const propB = b.properties.Name.title[0].plain_text;
  return propA.localeCompare(propB);
})

// iterate over each project in the data
data.forEach((page: any) => {
  const prop = page.properties;

  // check if the project is not a handpicked project
  if (prop['Type of Project'].select.name !== 'Handpicked Projects') {
    // add the project details to the allProjects array
    allProjects.push({
      name: prop.Name.title[0].plain_text,
      description: prop['Description'].rich_text[0].plain_text,
      url: prop['App URL'].url
    })
  }
})
---
<Layout title="All Projects">
  <Navbar />
  <main>
    <h1>ALL PROJECTS</h1>
      <div class="project-container">
        {allProjects.map(project => <div>
          <a href={project.url} target="_blank">
            <h2>{project.name}</h2>
            <p>{project.description}</p>
          </a>
        </div>)}
      </div>
      <a href="/contacts">-></a>
 </main>
</Layout>
<style>
  @keyframes fade-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .project-container {
    width: 50rem;
    height: 25rem;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .project-container div a {
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .project-container div a p {
    width: 25rem;
  }
  .project-container div a:hover {
    background: #2D4A3F;
  }
  body {
    overflow: hidden;
    opacity: 0%;
    animation: fade-in 3s ease forwards;
  }
  button {
    position: absolute;
    left: 36vw;
  }
  .dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    height: 97vh;
    overflow: hidden;
    z-index: -1;
  }
  @media (max-width: 767px) {
    body {
      overflow: scroll;
    }
    .project-container {
      overflow: scroll;
      height: 30rem;
      width: 20rem;
    }
    .project-container div a {
      display: block;
    }
    .project-container div a p {
      width: 15rem;
    }
  }
<style/>
