---
import Navbar from '../components/sidebar.astro';
import CustomProject from '../components/custom_project.astro';
import dotenv from 'dotenv'
import Layout from '../layouts/Layout.astro'

dotenv.config();

const DatabaseID = process.env.DATABASE_ID;
const NotionToken = process.env.NOTION_TOKEN;

const handpickedProjects = [];

// fetch all projects from the Notion API
const res = await fetch(`https://api.notion.com/v1/databases/${DatabaseID}/query`, {
    method: 'POST',
    headers: {
    'Authorization': `Bearer ${NotionToken}`,
    'Content-Type': 'application/json',
    'Notion-version': '2021-08-16'
    }
  }
)

// extract data from the response
const data = (await res.json()).results;

// iterate over each project in the data
data.forEach((page: any) => {
  const prop = page.properties;

  // check if the project is a handpicked project
  if (prop['Type of Project'].select.name === 'Handpicked Projects') {
    // add the project details to the handpickedProjects array
    handpickedProjects.push({
      name: prop.Name.title[0].plain_text,
      imgUrl: prop['Image URL'].url,
      description: prop['Description'].rich_text[0].plain_text,
      url: prop['App URL'].url
    })
  }
})
---
<Layout title="Handpicked Projects">
  <Navbar />
  <main>
    <h1>HANDPICKED PROJECT</h1>
    <div>
      <div class="project-container">
        {handpickedProjects.map(project => <CustomProject class="sticky" title={project.name} desc={project.description} img={project.imgUrl} url={project.url}/>)}
      </div>
    </div>
    <a href="/all_projects">-></a>
 </main>
</Layout>
<style>
  .dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    height: 97vh;
    overflow: hidden;
    z-index: -1;
  }
  @keyframes fade-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .project-container {
    overflow-x: scroll;
    width: 35rem;
    height: 29rem;
    scroll-behavior: smooth;
    display: flex;
  }
  body {
    overflow: hidden;
    opacity: 0%;
    animation: fade-in 3s ease forwards;
  }
  button {
    position: absolute;
    left: 36vw;
  }
  @media (max-width: 767px) {
    .project-container {
      overflow-y: scroll;
      overflow-x: hidden;
      flex-direction: column;
      align-items: center;
      width: 100vw;
    }
  }
<style/>
